*.orig
*.pyc
*_ui.py
*~
*.qm
*.log
*.txt
*.cfg
*.bak
*.out

douban_mash/tmp
douban_mash/.sass-cache/
douban_mash/Gemfile.lock
douban_mash/db/development.sqlite3
douban_mash/db/schema.rb

tags
PYSMELLTAGS
log
*.swp
