.show-title
  margin: 10px 0
.big
  font-size: 40px      
  line-height: 50px

.match-user
  .left
    float: left
    margin-right: 10px
  .right
    float: left
    width: 600px

.clearfix
  clear: both      

h1

.pre-match
  .left
    float: left
  .right
    float: left


